.feed{
    width:400px;
    padding:10px;
    border:1px solid black;
    
    
}


.feed-img{
    width:100%;
    object-fit: cover;
}
.user-pic{
    height:30px;
    width:30px;
    border-radius:50%;
}